.container {
  position: relative;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(243 212 245);
  width: 60rem;
  height: 86vh;
  border-radius: 1rem;
  padding: 2rem 0;
}
.block-btn {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
