<div *ngIf="showBoard" class="container">
  <app-random-figure
    (figureChanged)="handleFigureChange($event)"
    (finished)="handleFinished()"
  ></app-random-figure>
  <app-counter [counter]="counter"></app-counter>
  <div class="block-btn">
    <app-button
      buttonClass="circle"
      iconPath="assets/circle.png"
      (click)="handleButtonClick('circle')"
    ></app-button>
    <app-button
      buttonClass="square"
      iconPath="assets/square.png"
      (click)="handleButtonClick('square')"
    ></app-button>
    <app-button
      buttonClass="triangle"
      iconPath="assets/triangle.png"
      (click)="handleButtonClick('triangle')"
    ></app-button>
  </div>
  <app-button
    buttonClass="other"
    label="Прочие фигуры"
    (click)="handleButtonClick('other')"
  ></app-button>
</div>
<div *ngIf="showFinalResult" class="overlay">
  <div class="result-box">
    <p>Вы набрали {{ counter }} очков</p>
    <button (click)="closeResult()">Закрыть</button>
  </div>
</div>
